.env
.venv/
.venv-win/
datasets/
AG/test_models/
AG/imagem.jpg
AG/cnn_training/__pycache__/
AG/cnn_training.py
AG/mlflow/mlruns/
I/cadastros/*
I/__pycache__/
!I/cadastros/.gitkeep
E/models/
E/teste.py
E/__pycache__/
E/test_models/